<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse nav-custom">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="family"><i class="fa fa-users fa-fw"></i> Rodziny</a>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="christmas-package({year: 2015})"><i class="fa fa-suitcase fa-fw"></i> Lista paczek</a>
            </li>

            <li>
                <a ui-sref="teams({year: 2015})"><i class="fa fa-users fa-fw"></i> Zespoły</a>
            </li>



            <li ng-class="{active: sb.collapseVar==2}">
                <a href="" ng-click="sb.check(2)"><i class="fa fa-sitemap fa-fw"></i> Poprzednie akcje<span
                    class="fa arrow"></span></a>
                <ul class="nav nav-second-level" uib-collapse="sb.collapseVar!=2">
                    <li ng-init="sb.third=!sb.third" ng-class="{active: sb.multiCollapseVar==3}">
                        <a href="" ng-click="sb.multiCheck(3)">2015 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" uib-collapse="sb.multiCollapseVar!=3">
                            <li>
                                <a ui-sref="christmas-package({year: 2015})"><i class="fa fa-suitcase fa-fw"></i> Lista paczek 2015</a>
                            </li>
                            <li>
                                <a ui-sref="teams({year: 2015})"><i class="fa fa-users fa-fw"></i> Zespoły 2015</a>
                            </li>

                        </ul>
                    </li>
                    <li ng-init="sb.third=!sb.third" ng-class="{active: sb.multiCollapseVar==4}">
                        <a href="" ng-click="sb.multiCheck(4)">2014 <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" uib-collapse="sb.multiCollapseVar!=4">
                            <li>
                                <a ui-sref="christmas-package({year: 2014})"><i class="fa fa-suitcase fa-fw"></i> Lista paczek 2014</a>
                            </li>
                            <li>
                                <a ui-sref="teams({year: 2014})"><i class="fa fa-users fa-fw"></i> Zespoły 2014</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
