<div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="family.create" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Dodaj rodzinę
                    </span>
                </button>
            </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- todo: poprawic sortowanie. przegladarka nie zamienia dobrze lacznikow -->
                    <!--<th jh-sort-by="street&amp;sort&#61;houseNo&amp;sort&#61;flatNo"><span>Adres</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <th jh-sort-by="street"><span>Adres</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span>Miasto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="children"><span>Liczba dzieci</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="family in vm.families track by family.id">
                    <td><a ui-sref="family-detail({id:family.id})" style="color:blue">{{family.id}}</a></td>
                    <td>{{family.street}} {{family.houseNo}}<span ng-if="family.flatNo">/</span>{{family.flatNo}}</td>
                    <td>{{family.city}} {{family.region}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
</div>
