
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFamilyLabel">Create or edit a Family</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.family.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="vm.family.street"
                    required />
            <div ng-show="editForm.street.$invalid">
                <p class="help-block"
                    ng-show="editForm.street.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_houseNo">HouseNo</label>
            <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                    ng-model="vm.family.houseNo"
                    required ng-maxlength="10" />
            <div ng-show="editForm.houseNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.houseNo.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.houseNo.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flatNo">FlatNo</label>
            <input type="text" class="form-control" name="flatNo" id="field_flatNo"
                    ng-model="vm.family.flatNo"
                    ng-maxlength="10" />
            <div ng-show="editForm.flatNo.$invalid">
                <p class="help-block"
                    ng-show="editForm.flatNo.$error.maxlength">
                    This field cannot be longer than 10 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_postalcode">Postalcode</label>
            <input type="text" class="form-control" name="postalcode" id="field_postalcode"
                    ng-model="vm.family.postalcode"
                    ng-maxlength="6" />
            <div ng-show="editForm.postalcode.$invalid">
                <p class="help-block"
                    ng-show="editForm.postalcode.$error.maxlength">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_district">District</label>
            <input type="text" class="form-control" name="district" id="field_district"
                    ng-model="vm.family.district"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.family.city"
                    required />
            <div ng-show="editForm.city.$invalid">
                <p class="help-block"
                    ng-show="editForm.city.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_region">Region</label>
            <input type="text" class="form-control" name="region" id="field_region"
                    ng-model="vm.family.region"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.family.source"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
