<div class="navbar-header">
    <!-- TODO responsive menu, move sb-admin-2.js logic -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="vm.navCollapsed = !vm.navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" style="color: #F5F5FF" href="#/"><span>Akcjamis</span> <span class="navbar-version">v{{VERSION}}</span>
        <span ng-show="{{ENV === 'dev'}}" class="navbar-version" style="color: #ff0000">DEVELOPMENT</span>
    </a>
</div>
<div class="collapse navbar-collapse" id="navbar-collapse" uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()">
    <ul class="nav navbar-top-links navbar-right">

        <!--TODO think about vm.$state.includes('account') -->
        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="messages-menu">
                <span>
                    <i class="fa fa-envelope fa-fw"></i><i class="fa fa-caret-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-messages" uib-dropdown-menu>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
            <span class="pull-right text-muted">
                <em>Yesterday</em>
            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
            <span class="pull-right text-muted">
                <em>Yesterday</em>
            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="tasks-menu">
                <span>
                    <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-tasks" uib-dropdown-menu>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 1</strong>
                                <span class="pull-right text-muted">40% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 2</strong>
                                <span class="pull-right text-muted">20% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 3</strong>
                                <span class="pull-right text-muted">60% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task 4</strong>
                                <span class="pull-right text-muted">80% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="alerts-menu">
                <span>
                    <i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-alerts" uib-dropdown-menu>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>

        <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                <span>
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-user" uib-dropdown-menu>
                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="fa fa-gear fa-fw"></span>&#xA0;<span>Settings</span>
                    </a>
                </li>

                <li ui-sref-active="active" ng-switch-when="true">
                    <a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="fa fa-key fa-fw"></span>&#xA0;<span>Password</span>
                    </a>
                </li>

                <li class="divider" ng-switch-when="true"></li>

                <li ui-sref-active="active" ng-switch-when="true">
                    <a href="" ng-click="vm.logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="fa fa-sign-out fa-fw"></span>&#xA0;<span>Sign out</span>
                    </a>
                </li>

                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="fa fa-sign-in fa-fw"></span>&#xA0;<span>Sign in</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="false">
                    <a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="fa fa-user-plus fa-fw"></span>&#xA0;<span>Register</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active: vm.vm.$state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
            uib-dropdown class="dropdown pointer">
            <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                <span>
                    <span class="glyphicon glyphicon-tower"></span>
                    <span class="hidden-sm">Administration</span>
                    <b class="caret"></b>
                </span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-user"></span>
                    &#xA0;<span>User management</span></a></li>
                <li ui-sref-active="active"><a ui-sref="jhi-tracker" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-eye-open"></span>
                    &nbsp;<span>User tracker</span></a></li>
                <li ui-sref-active="active"><a ui-sref="jhi-metrics" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-dashboard"></span>
                    &#xA0;<span>Metrics</span></a></li>
                <li ui-sref-active="active"><a ui-sref="jhi-health" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-heart"></span>
                    &#xA0;<span>Health</span></a></li>
                <li ui-sref-active="active"><a ui-sref="jhi-configuration" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-list-alt"></span>
                    &#xA0;<span>Configuration</span></a></li>
                <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-bell"></span>
                    &#xA0;<span>Audits</span></a></li>
                <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-tasks"></span>
                    &#xA0;<span>Logs</span></a></li>
                <li ng-hide="vm.inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse"
                                                                         data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-book"></span>
                    &#xA0;<span>API</span></a></li>
                <li ui-sref-active="active"><a ui-sref="entity-audit" data-toggle="collapse"
                                               data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-list-alt"></span>
                    &#xA0;<span>Entity Audit</span></a></li>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                <li ng-hide="vm.inProduction"><a href='/h2-console' target="_tab" data-toggle="collapse"
                                                 data-target=".navbar-collapse.in"><span
                        class="glyphicon glyphicon-hdd"></span>
                    &#xA0;<span>Database</span></a></li>
            </ul>
        </li>
    </ul>
</div>
