
<div>
    <br>
    <h2>Podsumowanie zespołu {{vm.team.teamNumber}} w roku {{vm.team.event.year}}</h2>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-5 no-padding-left">
                <dl class="dl-horizontal">
                    <dt><span>Członkowie</span></dt>
                    <dd>
                        <span ng-repeat="user in vm.team.users">
                            {{user.login}}{{$last ? '' : '\n'}}
                        </span>
                    </dd>
                    <hr>
                    <dt><span>Data utworzenia</span></dt>
                    <dd>
                        <span>{{vm.team.createdDate | date:'yyyy-MM-dd'}}</span>
                    </dd>
                    <hr>
                    <dt><span>Notatka</dt></dt>
                    <dd>
                        <span>{{vm.team.note}}<span>
                    </dd>
                    <hr>
                </dl>
            </div>
            <div class="col-xs-5 no-padding-right">
                MAPA
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th><span>ID paczki</span></th>
                <th><span>Ocena</span></th>
                <th><span>Adres rodziny</span></th>
                <th><span>Notatka </span></th>
                <th><span>ID podpaczki</span></th>
                <th><span>Nazwisko dziecka</span></th>
                <th><span>Imię dziecka</span></th>
                <th><span>Wiek dziecka</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="package in vm.team.christmasPackages">
                <td><a ui-sref="christmas-package-detail({id:package.id})" style="color:blue">{{package.id}}</a></td>
                <td>{{package.mark}}</td>
                <td>
                    {{package.family.street}} {{package.family.houseNo}}<span ng-if="package.family.flatNo != null">/{{package.family.flatNo}}</span><br>
                    {{package.family.postalcode}} {{package.family.city}}<br>
                    {{package.family.district}}
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr ng-repeat="note in package.family.familyNotes">
                            <td>{{note.content}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr ng-repeat="subpackage in package.subpackages">
                            <td>{{package.id}}.{{subpackage.subpackageNumber}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr ng-repeat="subpackage in package.subpackages">
                            <td>{{subpackage.child.lastName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr ng-repeat="subpackage in package.subpackages">
                            <td>{{subpackage.child.firstName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table>
                        <tbody>
                        <tr ng-repeat="subpackage in package.subpackages">
                            <td>{{ vm.date - subpackage.child.birthYear}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
    <br>
    <br>
</div>
