<div>
    <br>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <!--         <div class="col-xs-4 no-padding-left">
                         <button class="btn btn-primary" ui-sref="christmas-package.new" ng-disabled="vm.editable">
                             <span class="glyphicon glyphicon-plus"></span>
                             <span class="hidden-xs" >
                                 Dodaj paczkę
                             </span>
                         </button>
                     </div>
                     <div class="col-xs-8 no-padding-right">
                         <form name="searchForm" class="form-inline">
                             <div class="input-group pull-right" >
                                 <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery">
                                 <span  class="input-group-btn width-min" >
                                     <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                         <span class="glyphicon glyphicon-search"></span>
                                     </button>
                                 </span>
                                 <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                                     <button class="btn btn-info" ng-click="vm.clear()">
                                         <span class="glyphicon glyphicon-trash"></span>
                                     </button>
                                 </span>
                             </div>
                         </form>
                     </div>-->
        </div>
    <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()" ng-init="allExpanded=vm.allExpanded">
                        <th>
                            <button type="button" ng-click="vm.expandAll(allExpanded = !allExpanded)">
                                <span ng-bind="allExpanded ? '-' : '+'"></span>
                            </button>
                        </th>
                        <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="mark"><span>Ocena</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="delivered"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th jh-sort-by="family.id"><span>Rodzina</span> <span class="glyphicon glyphicon-sort"></span></th>
                        <th><span>Uwagi</span></th>
                        <th ng-show="allExpanded">Imię dziecka</th>
                        <th ng-show="allExpanded">Wiek dziecka</th>
                        <th ng-show="allExpanded">Uwagi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="package in vm.christmasPackages">
                        <td>
                        </td>
                        <td><a ui-sref="christmas-package-detail({year: package.eventYear, id:package.id})" style="color:blue">{{package.id}}</a></td>
                        <td>{{package.mark}}</td>
                        <td><span ng-bind="package.delivered ? 'Dostarczona' : 'Oczekująca'"></span></td>
                        <td>
                            <a ui-sref="family-detail({id:package.familyId})" style="color:blue">{{package.familyId}}</a>
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr ng-repeat="note in package.christmasPackageNotes">
                                        <td>{{note.content}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td ng-show="allExpanded">
                            <table>
                                <tbody>
                                    <tr ng-repeat="subpackage in package.subpackages">
                                        <td>{{subpackage.child.firstName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td ng-show="allExpanded">
                            <table>
                                <tbody>
                                    <tr ng-repeat="subpackage in package.subpackages">
                                        <td>{{vm.date - subpackage.child.birthYear}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td ng-show="allExpanded">

                            <table>
                                <tbody>
                                    <tr ng-repeat="subpackage in package.subpackages">
                                        <td>
                                            <span ng-if="subpackage.subpackageNotes.length == 0"> - </span>
                                            <span ng-repeat="note in subpackage.subpackageNotes">
                                                {{note.content}},
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
